.Header {
    position: relative;
    background: var(--header-bg-color);
    color: var(--header-fg-color);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /*min-height: 74px;*/
}

.Header-logo {
    margin-top: 0.25rem;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.Header-logo > svg {
    height: 25px;
    fill: #fff;
}